.header h1 {
    text-align: center;
    font-size: 1.5rem;
    flex-grow: 0.8;
    margin-bottom: 0.5rem;
    letter-spacing: 0.1rem;
}

.header {
    @include header;
}

.arrow {
  font-size: 1.3em;
  margin-bottom: -0.5rem;
}

.header__img img{
  object-fit: cover;
  width: 100%;
  height: 15.625rem;
}