.header h1 {
    text-align: center;
    margin: 0 0 0.4rem 0;
    font-size: 1.5rem;
    flex-grow: 0.8;
}

.header {
    @include header;
}

.arrow {
  font-size: 1.3em;
}

.header__img img{
  object-fit: cover;
  width: 100%;
  height: 15.625rem;
}