.main__menu {
  @include main-menu;
  & .fill__heart {
    font-size: 0.9em;
    padding-right: 2.5rem;
  }
}

.full__menu {
  @include desktop {
    display: flex;
    justify-content: space-around;
  }
}

.line {
  width: 2.5rem;
  border: 0.125rem solid $color-tertiary;
  margin-left: 0.625rem;
}

.cross {
  @include cross;
}

.order__btn {
  display: flex;
  justify-content: center;
  padding-bottom: 4rem;
}