.process__title {
  padding-left: 1.5rem;
  margin: 3rem 0 0 0;
  @include tablet {
    display: flex;
    justify-content: center;
    padding-left: unset;
  }
}

.process__steps{
  padding: 1.5rem;
  margin: 0;
  @include tablet {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }
}

.process__steps--number {
    @include process-number;
    @include tablet {
      right: -0.4rem;
      top: -1rem;
      position: relative;
    }
  }

.process__steps--icon {
    color: #b2b2b2;
    margin-right: 1.5rem;
    margin-left: 0.5rem;
    font-size: 1.2em;
}
