.restaurants {
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
  @include tablet {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }


  .restaurants__title {
    padding-left: 1.5rem;
    margin: 3rem 0 0 0;
    @include tablet {
      text-align: center;
    }
    @include desktop {
      font-size: 2rem;
      margin: 3rem;
    }
  } 

.restaurant__cards {
  @include tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 2rem;
    justify-items: center;
  }
  @include desktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 2rem;
    justify-items: center;
  }
}
.restaurant__card {
  @include card;
    @include desktop {
    width: 70%;
    }
}

.restaurant__card-new {  
  @include card-new;
    p {
      margin: 0;
    }
}
.restaurant__card img {
  @include card-img ;
}

.restaurant__block {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.restaurant__block-name {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.restaurant__block-hearth {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}