@keyframes animation-logo {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  75% {
    transform: scale(3, 3);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loader-fadeout {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fill {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 1rem;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style-type: none;
}

h1, h6 {
  font-family: Shrikhand, Roboto, sans-serif;
}

body, html {
  font-family: "Roboto", sans-serif;
}

.slogan__btn button {
  background-image: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  border: 0.063rem solid transparent;
  border-radius: 1.875rem;
  padding: 0.625rem 0.313rem;
  color: #fff;
  font-weight: bold;
  box-shadow: 0.25rem 0.25rem 0.375rem #aaa;
  cursor: pointer;
}
.slogan__btn button:hover {
  background-color: #ae80e5;
  background-blend-mode: lighten;
  box-shadow: 0.25rem 0.25rem 0.375rem #000;
}

.order__btn button {
  background-image: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  border: 0.063rem solid transparent;
  border-radius: 1.875rem;
  padding: 0.625rem 0.313rem;
  color: #fff;
  font-weight: bold;
  box-shadow: 0.25rem 0.25rem 0.375rem #aaa;
  cursor: pointer;
  margin: 1.875rem 0;
  padding: 0.8rem;
  width: 50%;
}
@media screen and (min-width: 1280px) {
  .order__btn button {
    width: 25%;
  }
}
.order__btn button:hover {
  background-color: #ae80e5;
  background-blend-mode: lighten;
  box-shadow: 0.25rem 0.25rem 0.375rem #000;
}

.localisation {
  background: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0rem 0.313rem 0.313rem 0rem #dddddd;
}
.localisation__icon {
  padding-right: 1rem;
  font-size: 1.1em;
  color: #000000c7;
  padding-bottom: 0.4rem;
}
.localisation__city p {
  font-size: 1rem;
  padding: 1rem 0 1rem 0;
  margin: 0rem;
  text-align: center;
  font-weight: bold;
  color: #000000c7;
}

.process__steps li {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #f6f6f6;
  border: 0.313rem solid #f6f6f6;
  border-radius: 0.625rem;
  font-weight: bold;
  box-shadow: 0.25rem 0.25rem 0.375rem #e9e9e9;
}
.process__steps li:hover {
  background: #f2eafb;
}
.process__steps li:hover .process__steps--icon {
  color: #9356dc;
}
@media screen and (min-width: 768px) {
  .process__steps li {
    margin: 1.25rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1280px) {
  .process__steps li {
    margin: 4.375rem 0;
  }
}

.menu__title {
  font-family: Shrikhand, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem;
}
@media screen and (min-width: 1280px) {
  .menu__title {
    padding: 0.625rem 5.625rem;
  }
}

.meals {
  background-color: #fff;
  border-radius: 0.938rem;
  margin: 0.625rem;
  padding: 0.625rem;
  box-shadow: 0.25rem 0.25rem 0.375rem #aaa;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: padding-right 450ms ease-in-out;
}
.meals:hover {
  padding-right: 4.688rem;
}
.meals:hover .cross {
  opacity: 1;
  transform: translate(-3.125rem);
}
.meals:hover .fa-check-circle {
  transform: rotate(360deg);
}

.meals h4 {
  margin: 0;
}

.starter h3, .dish h3, .dessert h3 {
  padding-left: 0.625rem;
  text-transform: uppercase;
  margin-bottom: 0.313rem;
  font-family: "Roboto";
}

.last__line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.5em;
}

.last__line p {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media screen and (min-width: 1280px) {
  .last__line p {
    padding-right: 20px;
  }
}

.last__line span {
  margin-right: 5px;
}

.fill {
  color: black;
  cursor: pointer;
}
.fill:hover {
  animation: fill 0.3s ease-in-out;
  display: inline-block;
  opacity: 1;
  background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  background: -webkit-linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.header h1 {
  text-align: center;
  margin: 0 0 0.4rem 0;
  font-size: 1.5rem;
  flex-grow: 0.8;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  font-size: 1.3em;
}

.header__img img {
  object-fit: cover;
  width: 100%;
  height: 15.625rem;
}

footer {
  background-color: #353535;
  padding: 1.563rem;
  color: white;
}

h3 {
  font-family: "Shrikhand", "sans-serif";
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0 0 0.8rem;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
ul li {
  padding: 0.2rem 0 0.2rem 0;
}
ul li a {
  color: white;
}

.fa-utensils {
  margin-right: 0.75rem;
}

.fa-hands-helping {
  margin-right: 0.313rem;
}

.restaurants {
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
}
@media screen and (min-width: 768px) {
  .restaurants {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
  }
}
@media screen and (min-width: 1280px) {
  .restaurants {
    padding: 0 20%;
  }
}
.restaurants .restaurants__title {
  padding-left: 1.5rem;
  margin: 3rem 0 0 0;
}
@media screen and (min-width: 768px) {
  .restaurants .restaurants__title {
    text-align: center;
  }
}
.restaurants .restaurant__card {
  border-radius: 1.563rem;
  box-shadow: 0.25rem 0.25rem 0.375rem #aaa;
  margin: 1.5rem;
  position: relative;
  background: #fff;
}
@media screen and (min-width: 768px) {
  .restaurants .restaurant__card {
    width: 40%;
  }
}
.restaurants .restaurant__card-new {
  color: #008766;
  background: #99E2D0;
  border: 0.313rem solid #99E2D0;
  border-radius: 0.313rem;
  position: absolute;
  right: 2%;
  top: 5%;
}
.restaurants .restaurant__card-new p {
  margin: 0;
}
.restaurants .restaurant__card img {
  object-fit: cover;
  border-top-left-radius: 1.563rem;
  border-top-right-radius: 1.563rem;
  width: 100%;
  height: 10rem;
}
.restaurants .restaurant__block {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.restaurants .restaurant__block-name {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.restaurants .restaurant__block-hearth {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slogan {
  background: #f6f6f6;
  text-align: center;
  padding: 2.5rem 0;
}
.slogan p {
  color: #4d4d4d;
}

.process__title {
  padding-left: 1.5rem;
  margin: 3rem 0 0 0;
}
@media screen and (min-width: 1280px) {
  .process__title {
    display: flex;
    justify-content: left;
    margin-left: 1rem;
  }
}

.process__steps {
  padding: 1.5rem;
  margin: 0;
}

.process__steps--number {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9356DC;
  color: #fff;
  border-radius: 50%;
  border: 0.125rem solid #9356DC;
  width: 1.563rem;
  height: 1.563rem;
  transform: translateX(-1rem);
}
@media screen and (min-width: 768px) {
  .process__steps--number {
    right: 0;
    top: -0.938rem;
  }
}

.process__steps--icon {
  color: #b2b2b2;
  margin-right: 1.5rem;
  margin-left: 0.5rem;
  font-size: 1em;
}

.main__menu {
  background-color: #f6f6f6;
  border-top-left-radius: 1.563rem;
  border-top-right-radius: 1.563rem;
  width: 100%;
  transform: translateY(-50px);
}

@media screen and (min-width: 1280px) {
  .full__menu {
    display: flex;
    justify-content: space-around;
  }
}

.line {
  width: 2.5rem;
  border: 0.125rem solid #99E2D0;
  margin-left: 0.625rem;
}

.cross {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  width: 3.125rem;
  height: 3.938rem;
  border-top-right-radius: 0.938rem;
  border-bottom-right-radius: 0.938rem;
  position: absolute;
  padding: 1.25rem;
  right: -3.125rem;
  top: 0;
  opacity: 0;
  transition: transform 330ms ease-in-out;
}
.cross .fa-check-circle {
  color: #fff;
  transition: transform 500ms ease-in-out;
}

.order__btn {
  display: flex;
  justify-content: center;
}

.loadingspinner {
  background-color: white;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  animation: loader-fadeout 3s forwards;
}
.loadingspinner__logo {
  font-size: 3rem;
  animation: animation-logo 0.6s ease-in-out;
  animation-iteration-count: infinite;
}

/*# sourceMappingURL=style.css.map */
