body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 1rem;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style-type: none;
}

h1, h6 {
  font-family: Shrikhand, Roboto, sans-serif;
}

body, html {
  font-family: "Roboto", sans-serif;
}

.slogan__btn button {
  background-image: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  border: 1px solid transparent;
  border-radius: 30px;
  padding: 10px 5px;
  color: #fff;
  font-weight: bold;
  box-shadow: 4px 4px 6px #aaa;
  cursor: pointer;
}
.slogan__btn button:hover {
  background-color: #ae80e5;
  background-blend-mode: lighten;
  box-shadow: 4px 4px 6px #000;
}

.localisation {
  background: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 5px 5px 0px #dddddd;
}

.localisation_city p {
  font-size: 1rem;
  padding: 20px 5px 20px 5px;
  margin-top: 5px;
  text-align: center;
  width: 150px;
}

.process__steps li {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #f6f6f6;
  border: 5px solid #f6f6f6;
  border-radius: 10px;
  font-weight: bold;
  box-shadow: 4px 4px 6px #e9e9e9;
}
@media screen and (min-width: 768px) {
  .process__steps li {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1280px) {
  .process__steps li {
    margin: 70px 0;
  }
}

.header h1 {
  text-align: center;
}

footer {
  background-color: #353535;
  padding: 25px;
  color: white;
}

h3 {
  font-family: "Shrikhand", "sans-serif";
  padding: 5px 0 20px 0;
  font-size: 1.2rem;
  font-weight: 500;
}

ul {
  list-style-type: none;
}
ul li {
  padding: 5px 0 5px 0;
}
ul li a {
  color: white;
}

.fa-utensils {
  margin-right: 12px;
}

.fa-hands-helping {
  margin-right: 5px;
}

.restaurants {
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .restaurants {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
  }
}
@media screen and (min-width: 1280px) {
  .restaurants {
    padding: 0 20%;
  }
}
.restaurants .restaurants__title {
  padding-left: 1.5rem;
}
@media screen and (min-width: 768px) {
  .restaurants .restaurants__title {
    text-align: center;
  }
}
.restaurants .restaurant__card {
  border-radius: 25px;
  box-shadow: 4px 4px 6px #aaa;
  margin: 1.5rem;
  position: relative;
  background: #fff;
}
@media screen and (min-width: 768px) {
  .restaurants .restaurant__card {
    width: 40%;
  }
}
.restaurants .restaurant__card-new {
  color: #008766;
  background: #99E2D0;
  border: 5px solid #99E2D0;
  border-radius: 5px;
  position: absolute;
  right: 1%;
  top: 5%;
}
.restaurants .restaurant__card-new p {
  margin: 0;
}
.restaurants .restaurant__card img {
  object-fit: cover;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 100%;
  height: 10rem;
}
.restaurants .restaurant__block {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.restaurants .restaurant__block-name {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.restaurants .restaurant__block-hearth {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slogan {
  background: #f6f6f6;
  text-align: center;
  padding: 40px 0;
}
.slogan p {
  color: #4d4d4d;
}

.process__title {
  padding-left: 1.5rem;
}
@media screen and (min-width: 1280px) {
  .process__title {
    display: flex;
    justify-content: left;
    margin-left: 1rem;
  }
}

.process__steps {
  padding: 1.5rem;
}

.process__steps--number {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9356DC;
  color: #fff;
  border-radius: 50%;
  border: 2px solid #9356DC;
  width: 25px;
  height: 25px;
  position: relative;
  right: 10px;
}
@media screen and (min-width: 768px) {
  .process__steps--number {
    right: 0;
    top: -15px;
  }
}

.process__steps--icon {
  color: #b2b2b2;
  margin-right: 1.5rem;
  margin-left: 0.5rem;
  font-size: 1em;
}

.fas.fa-store {
  color: #9356DC;
}

/*# sourceMappingURL=style.css.map */
