.slogan__btn button{
  @include button;
  &:hover {
    background-color: lighten(#9356dc, 10%);
    background-blend-mode: lighten;
    box-shadow: 0.25rem 0.25rem 0.375rem #000;
  }
}

.order__btn button{
  @include button;
  padding: 1rem;
  width: 40%;
  @include desktop {
    width: 25%;
  }
  &:hover {
    background-color: lighten(#9356dc, 10%);
    background-blend-mode: lighten;
    box-shadow: 0.25rem 0.25rem 0.375rem #000;
  }
}

