.localisation{
  background: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0rem 0.313rem 0.313rem 0rem #dddddd;
  
  &__icon {
    padding-right: 1rem;
    font-size: 1.1em;
    color: #000000c7;
    padding-bottom: 0.4rem;
    }
  &__city p {
    @include localisation;
    }
}