.process__steps li {
    @include process-li;
    @include tablet {
      margin: 1.25rem 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    @include desktop {
      margin: 4.375rem 0;
    }
  }