.process__steps li {
    @include process-li;
    @include tablet {
      margin: 1.25rem 0;
      display: flex;
      flex-direction: column;
      width: 50%;
    }
    @include desktop {
      width: 50%;
    }
  }