@mixin localisation {
    border: none;
    background: #eaeaea;
    font-size: 1rem;
    padding: 20px 5px 20px 5px;
    margin-top: 5px;
    text-align: center;
    width: 150px;
}
@mixin slogan {
    background: #f6f6f6;
    text-align: center;
    width: 100%;
    padding: 40px 0;
  }
  @mixin slogan-btn {
    background-image: $linear-gradient;
    border: 1px solid transparent;
    border-radius: 30px;
    padding: 10px 5px;
    color: #fff;
    font-weight: bold;
    box-shadow: 4px 4px 6px #aaa;
    cursor: pointer;
  }
  @mixin process-number {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color-primary;
    color: #fff;
    border-radius: 50%;
    border: 2px solid $color-primary;
    width: 25px;
    height: 25px;
    position: relative;
    right: 10px;
  }
  @mixin card-img {
    object-fit: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 100%;
    height: 100%;
    max-height: 220px;
  }

@mixin tablet {
  @media screen and (min-width:map-get($breakpoints, tablet)){
    @content;
  }
}
@mixin desktop {
  @media screen and (min-width:map-get($breakpoints, desktop)){
    @content;
  }
}
@mixin large {
  @media screen and (min-width:map-get($breakpoints, large)){
    @content;
  }
}

@mixin medium-screen {
  @media screen and (min-width: map-get($breakpoints, medium)) {
    @content;
  }
}