@mixin header {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin localisation {
  font-size: 1rem;
  padding: 1rem 0 1rem 0;
  margin: 0rem;
  text-align: center;
  font-weight: bold;
    color: #000000c7;
}

@mixin slogan {
    background: #f6f6f6;
    text-align: center;
    padding: 2.5rem 0;
  }

@mixin button {
    background-image: $linear-gradient;
    border: 0.063rem solid transparent;
    border-radius: 1.875rem;
    padding: 1rem 2em;
    color: #fff;
    font-weight: bold;
    box-shadow: 0.25rem 0.25rem 0.375rem #aaa;
    cursor: pointer;
  }

@mixin process-number {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color-primary;
    color: #fff;
    border-radius: 50%;
    width: 1.563rem;
    height: 1.563rem;
    transform:translateX(-1rem) ;
  }

@mixin process-li{
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #f6f6f6;
  border-radius: 0.625rem;
  font-weight: bold;
  box-shadow: 0.25rem 0.25rem 0.375rem #e9e9e9;
  font-size: 1.1rem;
  padding: 0.5rem;
  &:hover {
    background: #f2eafb;
    .process__steps--icon {
      color: #9356dc;
    }
  }
}

  @mixin card {
    border-radius: 1.563rem;
    box-shadow: 0.25rem 0.25rem 0.375rem #aaa;
    margin: 1.5rem;
    position: relative;
    background: #fff;
  }

  @mixin card-new {
    color: #008766;
    background: $color-tertiary;
    border: 0.313rem solid $color-tertiary;
    border-radius: 0.313rem;
    position: absolute;
    right: 2%;
    top: 5%;
  }

  @mixin card-img {
    object-fit: cover;
    border-top-left-radius: 1.563rem;
    border-top-right-radius: 1.563rem;
    width: 100%;
    height: 10rem;
  }

  @mixin main-menu {
    background-color: #f6f6f6;
    border-top-left-radius: 1.563rem;
    border-top-right-radius: 1.563rem;
    width: 100%;
    transform: translateY(-50px);
  }

  @mixin menu-title {
    font-family: Shrikhand, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem;
    letter-spacing: 0.1rem;
    font-size: 1.2rem;
  }

  @mixin meals {
    background-color: #fff;
    border-radius: 0.938rem;
    margin: 0.625rem;
    padding: 0.625rem;
    box-shadow: 0.25rem 0.25rem 0.375rem #aaa;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: padding-right 450ms ease-in-out;
    &:hover {
      padding-right: 4.688rem;
    }
    &:hover .cross {
      opacity: 1;
      transform: translate(-3.125rem);
    }
    &:hover .fa-check-circle {
      transform: rotate(360deg) ;
    }
  }

  @mixin cross {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-tertiary;
    width: 3.125rem;
    height: 4.5rem;
    border-top-right-radius: 0.938rem;
    border-bottom-right-radius: 0.938rem;
    position: absolute;
    padding: 1.25rem;
    right: -3.125rem;
    top: 0;
    opacity: 0;
    transition: transform 330ms ease-in-out;
    & .fa-check-circle {
      color: #fff;
      transition: transform 500ms ease-in-out;
      font-size: 1.2em;
    }
  }
@mixin tablet {
  @media screen and (min-width:map-get($breakpoints, tablet)){
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width:map-get($breakpoints, desktop)){
    @content;
  }
}
@mixin large {
  @media screen and (min-width:map-get($breakpoints, large)){
    @content;
  }
}

@mixin medium-screen {
  @media screen and (min-width: map-get($breakpoints, medium)) {
    @content;
  }
}